<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <title>Final projects</title>
    <body
      style="background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 43%, rgba(9,9,121,1) 97%);"
    >
      <div class="container text-center">
        <h3 class=" bg-info">Final Projects</h3>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/">Back to Homepage</a>
        </button>
        <div class="text-light">
          <p>
            Mario Less.c
            <script src="https://gist.github.com/BraydenLawrence/5cfd4b26c23170abf5f600d9e1567d42.js"></script>
            Basic HTML Page
            <script src="https://gist.github.com/BraydenLawrence/8b8e7462c65d56733e0c469e74e82318.js"></script>
            Ceasar.c
            <script src="https://gist.github.com/BraydenLawrence/459ce20c712cb5790971bb8eb5c276af.js"></script>
            Introduction to Bootstrap
            <script src="https://gist.github.com/BraydenLawrence/bd9a900d77d1905931c18613e87d3fcf.js"></script>
            Hello.py
            <script src="https://gist.github.com/BraydenLawrence/f173861a90da9aa59204d8b8f424e86b.js"></script>
            Cash.py
            <script src="https://gist.github.com/BraydenLawrence/aff4aa4bc2566f808e96d33cd94a6765.js"></script>
            Mario.py
            <script src="https://gist.github.com/BraydenLawrence/15a814f5c4868187c691350bd9177002.js"></script>
          </p>
          <button type="button" class="btn btn-light btn-lg">
            <a href="/unit3">Back</a>
          </button>
        </div>
      </div>
    </body>
  </head>
</html>
