<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <title>Unit3</title>
    <body
      style="background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 43%, rgba(9,9,121,1) 97%);"
    >
      <div class="container text-center">
        <h3 class=" bg-info">Algorithms</h3>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/">Back to Homepage</a>
        </button>
        <div class="text-light">
          <p>
            Linear Search
            <script src="https://gist.github.com/BraydenLawrence/8887990a99c5126fa0ebdf46401aacd2.js"></script>
            Bubble Sort
            <script src="https://gist.github.com/BraydenLawrence/f6f51ceabd24f31779f5ed612e5942b6.js"></script>
            Selection Sort
            <script src="https://gist.github.com/BraydenLawrence/b235e4ab692a280e6983fe0e9826d215.js"></script>
            Insertion Sort
            <script src="https://gist.github.com/BraydenLawrence/4892141ad20fe45df980522eb0a4db88.js"></script>
            Binary Search
            <script src="https://gist.github.com/BraydenLawrence/5bdba540f3138e96a5af8169fe57b0c2.js"></script>
            Models and Simulations
            <script src="https://gist.github.com/BraydenLawrence/b4ca699480951e64fd0fce4b71ade586.js"></script>
          </p>
          <button type="button" class="btn btn-light btn-lg">
            <a href="/unit2">Back</a>
          </button>
          <button type="button" class="btn btn-light btn-lg">
            <a href="/finalprojects">Final Projects</a>
          </button>
        </div>
      </div>
    </body>
  </head>
</html>
