<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <title>Unit2</title>
    <body
      style="background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 43%, rgba(9,9,121,1) 97%);"
    >
      <div class="container text-center">
        <h3 class=" bg-info">Arrays</h3>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/">Back to Homepage</a>
        </button>
        <div class="text-light">
          <p>
            Functions
            <script src="https://gist.github.com/BraydenLawrence/976f4d0b03691a0cec0e9613b53c7ae6.js"></script>
            Array
            <script src="https://gist.github.com/BraydenLawrence/4a8419509e48baa00fc1fbe2b8701ccc.js"></script>
            Strings
            <script src="https://gist.github.com/BraydenLawrence/aa18b6a57f7aa277dd29b6c84e50b857.js"></script>
            Command Line Interation
            <script src="https://gist.github.com/BraydenLawrence/8fa24b7313d637d28a5a20630a8bd4e9.js"></script>
            Exit Codes
            <script src="https://gist.github.com/BraydenLawrence/07923cd1752218457b551c2ef8e0696b.js"></script>
            Type Casting
            <script src="https://gist.github.com/BraydenLawrence/6f4b27822c7095ae863f1b0e2ac615f3.js"></script>
            Bugs and Debugging
            <script src="https://gist.github.com/BraydenLawrence/88db32fc15d42232912cb8e16d074af6.js"></script>
          </p>
          <button type="button" class="btn btn-light btn-lg">
            <a href="/unit1">Back</a>
          </button>
          <button type="button" class="btn btn-light btn-lg">
            <a href="/unit3">Algorithms</a>
          </button>
        </div>
      </div>
    </body>
  </head>
</html>
