<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <title>Unit1</title>
    <body
      style="background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 43%, rgba(9,9,121,1) 97%);"
    >
      <div class="container text-center">
        <h3 class=" bg-info">C Language</h3>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/">Back to Homepage</a>
        </button>
        <div class="text-light">
          <p>
            Syntax
            <script src="https://gist.github.com/BraydenLawrence/97421dae6259daef68196c12dd54ef4d.js"></script>
            Variables
            <script src="https://gist.github.com/BraydenLawrence/ec1d3b4fef304a86d33926d3c43070a4.js"></script>
            Data Types
            <script src="https://gist.github.com/BraydenLawrence/edc252a093bd319712e7a4f0004634c8.js"></script>
            Printf Placeholders
            <script src="https://gist.github.com/BraydenLawrence/e76dd0a0694d4611b7862c294939c30b.js"></script>
            Operators
            <script src="https://gist.github.com/BraydenLawrence/a1daece5e8a26fd054e569ae2188b3f6.js"></script>
            Boolean Expressions and Conditions
            <script src="https://gist.github.com/BraydenLawrence/77d2cccd80efcc96a06b55ff4aa41470.js"></script>
            While Loop
            <script src="https://gist.github.com/BraydenLawrence/c2c6710f00b7b084083340868fcf0df2.js"></script>
            Do-While Loop
            <script src="https://gist.github.com/BraydenLawrence/194d819c5f5a6c04b393eb4388056902.js"></script>
            For Loop
            <script src="https://gist.github.com/BraydenLawrence/9969c1fdf9529f3297910987ef5cb1ee.js"></script>
            Magic Numbers
            <script src="https://gist.github.com/BraydenLawrence/a5047dc006111f3082bd61a118e40c19.js"></script>
          </p>
        </div>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/">Back</a>
        </button>
        <button type="button" class="btn btn-light btn-lg">
          <a href="/unit2">Arrays</a>
        </button>
      </div>
    </body>
  </head>
</html>
